.wid-35 {
  width: 35px;
  height: 50px;
  float: left;
}
.ic-par {
  .icon {
    font-size: 45px;
    color: @brand-gold;
  }
}
.n-m-l-5 {
  margin-left: -5px;
  margin-top: -5px;
}
.m-l-45 {
  margin-left: 45px;
}
.white-box {
  float: left;
  height: 130px;
  padding: 45px 22px 25px 20px;
  width: 100%;
  .wid-120 {
    width: 62.152%;
    float: left;
  }
}
.white-box-4 {
  width: 24.152%;
  float: left;
  height: 130px;
  padding: 35px 20px 25px 20px;
  margin-right: 1.12%;
  .wid-120 {
    width: 62.152%;
    float: left;
  }
}
.white-box-3 {
  width: 32.58%;
  float: left;
  height: 130px;
  padding: 35px 20px 25px 20px;
  margin-right: 1.12%;
  .wid-120 {
    width: 64%;
    float: left;
  }
}
.white-box-2 {
  width: 49.44%;
  float: left;
  height: 130px;
  padding: 45px 20px 25px 20px;
  margin-right: 1.12%;
  .wid-120 {
    width: 59%;
    float: left;
  }
}
.white-box-mob {
  width: 48.5%;
  float: left;
  padding: 25px 10px 25px 10px;
  margin-right: 3%;
  .wid-35 {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    float: left;
  }
  .wid-120 {
    float: left;
    text-align: center;
    width: 100%;
    p {
      margin-bottom: 0;
    }
  }
}
li {
  list-style: none;
  &:last-child {
    margin-right: 0px;
  }
}
.fnt-titl-hme {
  font-family: @font-family-Neue-Bold-Cn;
  font-size: 16px;
  color: @brand-blue;
}
.m-r-per {
  margin-right: 1.12%;
}
.no-margin {
  margin: 0px;
}
.met-box {
  background-color: @gray-lighter;
  text-transform: uppercase;
  text-align: center;
}
.orange-head {
  font-family: @font-family-Neue-Black;
  font-size: 35px;
  line-height: 1;
}
.blue-sub {
  font-family: @font-family-Neue-Bold-Cn;
  font-size: 14px;
}
.inline-block {
  display: inline-block;
}
.h-330 {
  height: 330px;
}
.border-b {
  border-bottom: 1px solid #d5d5e4;
}
.gray-img {
    background: #e0e1e3;
    margin-left: 10px;
    background-image: url("@{content-dam-path}/globe-img.png");
    background-repeat: no-repeat;
    @media (min-width: 320px) and (max-width: 580px) {
        background-size: 100% 100%;
        margin-left: 0px;
    }
    background-position: bottom;
}
.gray-img-txt {
  padding-top: 165px;
  text-align: center;
}
.font-hev-mdm {
  font-family: @font-family-Neue-Medium;
  font-size: 12px;
}
.font-hev-blk {
  font-family: @font-family-Neue-Black;
  font-size: 21px;
}
.c-m-r-btn {
  margin-left: 15%;
  margin-right: 15%;
}
.c-m-l-btn {
  margin-left: 25%;
  margin-right: 25%;
}
.btn-195 {
  width: 195px;
}
.btn-h-cust {
  width: 100%;
  max-width: 195px;
}
.ic-circle {
  width: 68px;
  height: 68px;
  border-radius: 50px;
  background-color: #333092;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 30px;
}
.fnt-cir-txt {
  font-family: @font-family-Neue-Bold-Cn;
  font-size: 11px;
}
.p-t-7-16 {
  padding-top: 16px;
}

/*White color text*/
.col-white {
    color: @white !important;
}

@media screen and (min-device-width: 750px) and (max-device-width: 900px) {
  .banner-bg {
    .item-detail-wrap {
      width: 31%;
      margin: 80px 25px 0 4%;
      .shopbtn {
        margin-right: 8px;
        padding: 8px 15px 10px;
      }
    }
    .item-wrap {
      width: 60%;
      margin: 34px 0 0;
      img {
        max-width: 80%;
      }
    }
  }
  .blue-theme {
    .nav {
      >li {
        >a {
          padding: 0;
        }
      }
    }
    h5 {
      width: 165px;
      span {
        &:nth-child(1) {
          font-size: 22px;
        }
        &:nth-child(2) {
          font-size: 14px;
        }
      }
    }
    h6 {
      width: 160px;
      font-size: 18px;
      sup {
        font-size: 12px;
      }
    }
  }
  .maxico-wrap {
    .data-wrap {
      margin-right: 0;
      width: 260px;
    }
  }
}
@media (max-width: 749px) {
  .banner-bg {
    .item-detail-wrap {
      margin: 0 auto;
      width: 100%;
      display: inline-block;
      text-align: center;
      float: none;
      h2 {
        font-size: 15px;
        display: inline-block;
        padding-right: 0;
      }
      h4 {
        font-size: 12px;
        margin: 0 0 5px;
      }
      .shopbtn {
        padding: 6px 18px 7px;
        font-size: 11px;
      }
    }
    .item-wrap {
      margin: 0 auto;
      width: 300px;
      text-align: center;
      position: relative;
      float: none;
      img {
        float: none;
        max-width: 80%;
      }
      .logo {
        margin: 0;
        position: absolute;
        right: 7%;
        max-width: 17%;
      }
    }
  }
  .blue-theme {
    .phonewrap {
      h4 {
        font-size: 15px;
        span {
          font-size: 13px;
          letter-spacing: 0;
        }
      }
    }
    h5 {
      width: 132px;
      margin-top: 10px;
      span {
        &:nth-child(1) {
          font-size: 17px;
          letter-spacing: 0px;
          color: @white;
          line-height: 16px;
        }
        &:nth-child(2) {
          font-size: 11px;
          margin-top: 3px;
        }
      }
    }
    .divider {
      height: 50px;
    }
  }
  .panel-body {
    padding: 10px 0;
    text-align: center;
    .prod-img {
      float: none;
    }
    .prod-detail-wrap {
      text-align: center;
      padding-bottom: 10px;
      p {
        margin-bottom: 3px;
      }
    }
  }
  .top-questions {
  	.panel-body {
  		text-align:left;
  	}
  }
}
@media (min-width: 580px) and (max-width: 750px) {
  .white-box {
    height: 160px;
  }
  .white-box-4 {
    height: 160px;
  }
}
@media (min-width: 580px) and (max-width: 780px) {
  .white-box {
    padding: 25px 10px 25px 10px;
  }
  .white-box-4 {
    padding: 25px 10px 25px 10px;
  }
}
@media (min-width: 580px) and (max-width: 749px) {
  .white-box {
    .wid-120 {
      width: 52.5%;
    }
  }
  .white-box-4 {
    .wid-120 {
      width: 52.5%;
    }
  }
}
@media (min-width: 980px) {
  .white-box {
    .wid-120 {
      width: 67%;
    }
  }
  .white-box-4 {
    .wid-120 {
      width: 67%;
    }
  }
}
@media (min-width: 320px) and (max-width: 580px) {
  .gray-img {
    background-size: 100% 100%;
    margin-left: 0px;
  }
  .ic-circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
  }
  .fnt-cir-txt {
    font-size: 9px;
  }
  .p-t-7-16 {
    padding-top: 7px;
  }
}
@media (min-width: 320px) and (max-width: 754px) {
  .w-xs-235 {
    width: 235px;
  }
}
@media (min-width: 580px) and (max-width: 754px) {
  .m-t-sx-15 {
    margin-top: 15px;
  }
}
.banner-icon-links {
  padding-top: 20px;
  padding-left: 1px;
}
.why-metro-banner-links {
  padding-top: 23px;
  text-align: center;
}
